*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Lato', sans-serif;
	font-weight: normal;
}

:root {
	--r: 20;
	--c: 40;
	--cell-size: calc(0.8*100vw/var(--c));
}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
	text-align: center;
}

h2 {
	padding: 10px 0px;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#selected {
	padding: 10px;
}

.board {
	display: grid;
	grid-template: repeat(var(--r), var(--cell-size)) / repeat(var(--c), var(--cell-size));
}

.cell {
	text-align: center;
	border-style: solid;
	border-width: 1px;
}

.cell:hover {
	background-color: #e0e0e0;
}

#reset {
	margin: 15px;
}